<h1>Contact Us</h1>
<form [formGroup]="messageForm" (ngSubmit)="OnSubmitted()">
  <h5 *ngIf="success">Your Form Is Valid!</h5>
  <label>
    Name : 
    <input type="text" formControlName="name">
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required">Your Name is required</div>
    </div>
  </label>
  <br>
  <label>
    Message : 
    <textarea type="text" formControlName="message"></textarea>
    <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
      <div *ngIf="messageForm.controls.message.errors.required">A Message is required</div>
    </div>
  </label>

  <input type="submit" value="Send Message" class="cta">
</form>

<div *ngIf="submitted" class="results">
  <strong>Name : </strong>
  <span>{{messageForm.controls.name.value}}</span>

  <strong>Message : </strong>
  <span>{{messageForm.controls.message.value}}</span>

</div>