button {
    background-color: #aec2f3;
    width: 100px;

}
ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
  }
  ul li {
    background: #eee;
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;
  }
  ul li p {
    font-weight: bold;
    margin-left: 20px;
  }
  ul li img {
    border-radius: 50%;
    width: 100%;
  }