<h1 [ngStyle]="{
                'color': h1style ? 'blue' : 'black' ,
                'text-decoration': h1style ? 'underline' : 'none'
                }">Home</h1>  

<button (click)='pss()'>Click Me</button>
<br>
<button (click) = 'pss2()'>Get Users</button>

<ul *ngIf="users">
    <li *ngFor="let user of users.data">
        <img [src]="user.avatar">
        <p>{{ user.first_name}} {{user.last_name}}</p>
    </li>
</ul>